####
# VINKOS
####

###############################
##   HTTP   AGENT  
###############################

# Name the components on this agent
###############################
a1.sources = r1
a1.channels = c1
a1.sinks = k1

#a1.sources = r1
#a1.channels = c1
#a1.sinks = k1

# Define / Configure Source (multiport seems to support newer "stuff")
###############################
# HTTP source
# a1.sources.r1.type = org.apache.flume.source.http.HTTPSource
# Default JSONHandler for HTTPSource
# a1.sources.r1.handler = org.apache.flume.source.http.JSONHandler
# a1.sources.r1.channels = c1
# a1.sources.r1.bind = 0.0.0.0
# a1.sources.r1.port = 41885
# a1.sources.r1.charset.default = UTF-8
# Describe/configure the source
# NetCat Source
# a1.sources.r1.type = netcat
# a1.sources.r1.channels = c1
# a1.sources.r1.bind = 0.0.0.0
# a1.sources.r1.port = 44444
# Exec Source
a1.sources.r1.type = exec
a1.sources.r1.channels = c1
a1.sources.r1.shell = /bin/bash -c
a1.sources.r1.command = /etc/flume-ng/conf/catdata.sh
# a1.sources.r1.interceptors = a
# a1.sources.r1.interceptors.a.type = org.apache.flume.interceptor.TimestampInterceptor$Builder

# Channels
###############################
a1.channels.c1.type = memory
# a1.channels.c1.type = file
a1.channels.c1.capacity = 20000
a1.channels.c1.transactionCapacity = 1000
# a1.channels.c1.checkpointInterval = 3000

# (Aplha) HDFS File Sink
###############################
a1.sinks.k1.channel = c1
a1.sinks.k1.type = hdfs
a1.sinks.k1.hdfs.callTimeout = 180000
a1.sinks.k1.hdfs.fileType = DataStream
a1.sinks.k1.hdfs.filePrefix = apigee
a1.sinks.k1.hdfs.fileSuffix = .txt
a1.sinks.k1.hdfs.inUseSuffix = .tmp.alpha
a1.sinks.k1.hdfs.useLocalTimeStamp = true
a1.sinks.k1.hdfs.path = hdfs://ip-172-31-59-75.ec2.internal/user/sofia/input/%Y%m%d%H%M
a1.sinks.k1.hdfs.writeFormat = Text
a1.sinks.k1.hdfs.batchSize = 1000
# File size to trigger roll, in bytes (256Mb)
a1.sinks.k1.hdfs.rollSize = 0
# Number of seconds to wait before rolling current file (in seconds)
# Wait for N min
a1.sinks.k1.hdfs.rollInterval = 0
# Number of rows to trigger roll
a1.sinks.k1.hdfs.rollCount = 40

###############################
## END   HTTP   AGENT  
###############################

