###FLUME 
#INICIA AGENTE

# Name the components on this agent
###############################
a1.sources = r1
a1.channels = c1 c2
a1.sinks = k1 k2

# Define / Configure Source (multiport seems to support newer "stuff")
###############################
# Exec Source
a1.sources.r1.type = exec
a1.sources.r1.channels = c1 c2
a1.sources.r1.shell = /bin/bash -c
a1.sources.r1.command = /etc/flume-ng/conf/catdata.sh



# Channels
###############################
a1.channels.c1.type = memory
a1.channels.c1.capacity = 20000
a1.channels.c1.transactionCapacity = 1000

a1.channels.c2.type = memory
a1.channels.c2.capacity = 20000
a1.channels.c2.transactionCapacity = 1000

# (Aplha) HDFS File Sink
###############################
a1.sinks.k1.channel = c1
a1.sinks.k1.type = hdfs
a1.sinks.k1.hdfs.callTimeout = 180000
a1.sinks.k1.hdfs.fileType = DataStream
a1.sinks.k1.hdfs.filePrefix = AppXYZ
a1.sinks.k1.hdfs.fileSuffix = .txt
a1.sinks.k1.hdfs.inUseSuffix = .tmp.alpha
a1.sinks.k1.hdfs.useLocalTimeStamp = true
a1.sinks.k1.hdfs.path = hdfs://ip-172-31-59-75.ec2.internal/user/sofia_challenge/input/%Y%m%d%H%M

#####KAFKA########
a1.sinks.k2.type = org.apache.flume.sink.kafka.KafkaSink
a1.sinks.k2.topic = k2 
a1.sinks.k2.brokerList = localhost:9092
a1.sinks.k2.channel = c2
a1.sinks.k2.batchSize = 20



