#
# Opciones para scoop import
#

# Credenciales de acceso
--username 
root 
--password 
password 
--connect 
jdbc:mysql://18.206.48.234:3306/sqoop_test 
--fields-terminated-by 
'|' 
--target-dir 
/user/sofia/sqoop2_sc 
--split-by 
id
-m
5 
-e 
"select id from sqoop_export_sofia where id>=0 AND id<=1000 AND $CONDITIONS"

